@import "tailwindcss";

body {
  background-color: #e0e0e0;
  background-image: radial-gradient(#b0b0b0 1px, transparent 1px);
  background-size: 15px 15px;
  color: #333;
  margin: 0;
  padding: 0;
}

/* 촌스러운 스크롤바 느낌 살리기 */
::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
  background: #c1c1c1; 
  border: 1px solid #999;
}
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8; 
}
